# Ignore .env files
.env*

# Node modules
node_modules/

# Next.js build output
.next/
out/

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Data directory
data/